{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <h1>Product List</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Univers</th>
                <th>Designation</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.univers }}</td>
                    <td>{{ product.designation }}</td>
                    <td>
                        {{ product.price }}
                        {% if product.price > price_threshold %}
                            ✨
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
